@import "../../../src/styles/index";

@for $i from 0 through 10{
  .font-size-#{$i} {
    font-size: $i+rem !important;
  }
  .font-size-#{$i}-5 {
    font-size: $i+.5rem !important;
  }
}

#demo {
  .html-entities-rating {
    font-size: 2rem;
  }

  .MuiFormControl-root-1 {
    min-width: 8em;
  }

  .rating {
    .rating-icon {
      > span > span {
        transition: color 150ms;
      }

      .display-icon {
        transition: width 50ms;
      }

      .background-icon {
        > span {
          color: #494949;
        }

        &.highlight > span{
          color: #ffd34c;
        }
      }

      &.active, &.half {
        .display-icon > span {
          color: #db9f33;
        }
      }

      &.highlight .display-icon > span {
        color: #ffd34c;
      }
    }
  }
}