@import "../../../src/styles/index";

@for $i from 0 through 10{
  .font-size-#{$i} {
    font-size: $i+rem !important;
  }
  .font-size-#{$i}-5 {
    font-size: $i+.5rem !important;
  }
}

#demo {
  .html-entities-rating {
    font-size: 2rem;
  }

  .MuiFormControl-root-1 {
    min-width: 8em;
  }
}